<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm mb-4">
    <a [routerLink]="['/']">
      <img src="/assets/images/ukhcLogoSmall.png" />
    </a>

    <h5 class="my-0 mx-md-auto font-weight-normal">{{siteTitle}}</h5>

    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" [routerLink]='["/"]'>Search</a>
      <a class="p-2 text-dark" [routerLink]='["/reports/create"]'>New Report</a>
    </nav>
    <!--<a class="btn btn-outline-primary" href="#">Login</a>-->
  </div>
</header>
