<footer class="footer">
  <div class="d-flex justify-content-between container-fluid">
    <div class="w-25 py-3">Appalachian Eye Network (AEN) Data Capture Manager is a UK HealthCare custom developed web application. If you encounter issues with this application, please contact the UK HealthCare Service Desk at 859-323-8586.</div>

    <img src="/assets/images/aen-logo.png" />

    <div class="w-25  py-3 text-right">
      Authenticated User: <!--@User.Identity.Name;-->
      <br />
      AEN Data Capture Manager  <!--@System.Reflection.Assembly.GetExecutingAssembly().GetName().Version.ToString()-->
      <br />
      &copy; 2018 - University of Kentucky Healthcare IT DevOps
    </div>
  </div>
</footer>
